.main-container{
    justify-content: center;
    align-items: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 2%;
    display: none;
}
.header {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #2d2d2d
}
.img {
    object-fit: contain;
}

.desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2% 0 2% 0;
}

.heading2 {
    display: flex;
    gap: 20%;
    justify-content: center;
}

.image-container{
    display: flex;
    gap: 5px;
    flex-direction: row;
    /* flex-wrap: wrap */
}
.block1{
  width: 33%;
}
.blog{
    background-color: white;
    align-items: center;
    justify-content: center;
}
h6{
    color: orangered;
    font-style: normal;
    text-align: center;
}
p{
    text-align: center;
    font-weight: 600;
}

@media (max-width:600px) {
    .image-container{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .desktop-header {
        display: none;
    }
    .block1 {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
    .heading2{
        display: none;
    }
    .header-container{
        display: flex;
    }
    .blog{
        justify-content:center;
        align-items: center;
        padding: 20px;
        background-color: white;
        position: absolute;
        display: column;
        width: 50%;
        z-index: 9999;
        align-self: center;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (min-width:601px) and (max-width:750px) {
    .image-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .desktop-header {
        display: none;
    }
    .header-container{
        display: flex;
        padding: 0 2% 0 2%;
    }
    .block1 {
        width: 45%;
        padding: 2%;
    }
    .heading2{
        display: none;
    }
    .blog{
        font-size: 12px;
        align-self: center;
    }
}

@media (min-width:751px) {
    .image-container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .block1 {
        position: relative;
        margin-bottom: 10%;
    }
    .blog{
        padding: 20px;
        background-color: white;
        position: absolute;
        top: 100%;
        width: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}